.breadcrumb_wrapper{
    @include Background-image();
    height: 400px;
    @include media-break-width(768,991){
        height: 300px;
    }
    @include max-media-width(767){
        height: 200px;
    }
    .my-container{
        height: 100%;
    }
    .breadcrumb_title_area{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .sellar_title{
        color: white;
    }
}