//mobileSearchButton,HamburgerIcon

.header_wrapper {
  padding-top: 24px;

  .mobile_topbar_wrapper {
    display: none;
    animation: fadeEffect 1s;
    @include hover-transition();
    @include max-media-width(991) {
      display: block;
    }
    .topbar_list {
      margin-top: 10px;
    }

    .order_icon_list {
      gap: 7px;
    }
    .topbar_list,
    .mobile_search_form {
      animation: fadeEffect 1s;
    }
    .mobile_search_form {
      margin-top: 10px;
      margin-bottom: 20px;
      @include max-media-width(767) {
        display: none;
      }
      .search_form {
        width: 100% !important;
        margin: 0;
      }
    }
  }
  .topbar_wrapper,
  .navbar_wrapper {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
        @include max-media-width(991)
{
      display: none;
    }
  }
  .topbar_wrapper {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
  .topbar_right_area {
    gap: 10px 30px;
  }
  .topbar_list {
    gap: 10px 10px;
    .logo {
      img {
        width: 200px;
      }
    }
    .topbar_single_list {
      border: 1.5px solid #e8e9ec;
      box-sizing: border-box;
      border-radius: 15px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 16px;
      @include max-media-width(767) {
        padding: 0;
        width: 25px;
        height: 25px;
        border: none;
      }
      a {
        display: flex;
      }
      &:hover {
        background-color: rgba(247, 247, 247, 0.5);
      }
    }

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      color: #000000;
      margin-left: 10px;
      @include max-media-width(767) {
        display: none;
      }
    }
  }

  .search_form {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 70px);
    gap: 10px;
    border: 1.5px solid #74c247;
    border-radius: 15px;
    width: 340px;
    margin-left: 50px;
    margin-right: 20px;
    @include media-break-width(768, 1199) {
      width: 271px;
      margin-left: 20px;
    }
    @include media-break-width(1200, 1350) {
      width: 300px;
    }

    @include max-media-width(450) {
      width: 200px;
    }
    @include max-media-width(767) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 40px);
    }
    &.search_active {
      top: 80px;
      opacity: 1;
      visibility: visible;
    }

    input {
      height: 44px;
      padding-left: 24px;
      background: transparent;
      border: none !important;
      font-size: 15px;
    }
    button {
      background-color: transparent;
      @include media-break-width(992, 1199) {
        text-align: start;
      }
    }
  }
  .desktop_search_box {
    position: relative;
  }
  .searchbox_overlay {
    display: none;
    @include max-media-width(991) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 50;
      background-color: #cdcdcd9e;
    }
  }
  .mobile_search_icon {
    display: none;
    margin: 0 20px;
    @include max-media-width(991) {
      display: block;
    }
  }
  .mobile_report_list {
    @include max-media-width(767) {
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      align-items: center;
      gap: 20px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .mobile_search_form {
      margin: 0;
      margin-top: 10px;
      display: none;
      @include max-media-width(767) {
        display: block;
      }
    }
    .topbar_list {
      @include max-media-width(767) {
        gap: 10px 15px;
        justify-content: end;
      }
    }
  }

  .navbar_wrapper {
    margin-top: 24px;
    background: #f7f7f7;
    @include hover-transition();
    .menu_dropdown_list {
      position: relative;
      &:hover {
        .menu_dropdown_area {
          opacity: 1;
          visibility: visible;
          top: 40px;
        }
      }
      .menu_dropdown_area {
        position: absolute;
        top: 45px;
        z-index: 100;
        background-color: white;
        color: black;
        -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        box-shadow: 0px 4px 16px rgba(43, 52, 69, 0.1);
        width: 150px;
        padding: 10px 15px;
        border-radius: 4px;
        opacity: 0;
        visibility: hidden;
        @include hover-transition();
        li {
          margin-top: 10px;
        }
      }
    }

    .language_dropdown_area {
      width: 60px !important;
      li {
        text-align: center;
      }
    }
  }

  .nice-select {
    width: auto;
    padding: 0;
    background: transparent;
    border: none;
    padding-right: 32px;
    .option {
      min-height: 30px;
      padding: 6px 15px;
    }
    &::after {
      height: 9px;
      width: 9px;
      margin-top: -6px;
      border-color: #424c60;
      border-width: 1.5px;
    }
  }
  .navbar_menu_area {
    padding: 7px 0;
    @include media-break-width(992, 1199) {
      padding-left: 20px;
      justify-content: start !important;
    }
  }
  .category_name {
    cursor: pointer;
    background: #74c247;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include max-media-width(991) {
      display: none;
    }
    span {
      font-weight: 500;
      font-size: 22px;
      line-height: 160%;
      color: #ffffff;
    }
  }
  .mobile_menu_button {
    @include min-media-width(992) {
      display: none;
    }
    @include max-media-width(991) {
      display: block;
    }
  }
  .navbar_area {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 275px) minmax(0, 1fr);
    @include max-media-width(991) {
      align-items: center;
      grid-template-columns: minmax(0, 70px) minmax(0, 1fr);
    }
  }
  .navbar_menu_area {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px 30px;
    width: 100%;
  }
  .nav_menu_list {
    gap: 8px 35px;
    @include max-media-width(991) {
      display: none;
    }

    li,
    li a {
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      color: #13192b;
      &:hover {
        color: rgba(19, 25, 43, 0.9);
        color: #74c247;
      }
    }
    svg {
      margin-left: 5px;
    }
    .nice-select {
      &::after {
        right: 10px;
      }
    }
    .list {
      min-width: 100px;
    }
  }
  .order_icon_list {
    gap: 10px 16px;

    & > li,
    .cart_number a {
      position: relative;
      width: 48px;
      height: 48px;
      background: #ffffff;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @include max-media-width(767) {
        width: 40px;
        height: 40px;
      }
      &:hover {
        .header_list_icon path {
          stroke: #74c247;
        }
      }
    }
    .cart_number {
      &::before {
        content: attr(data-number);
        position: absolute;
        right: 7px;
        top: 6px;
        font-weight: 400;
        font-size: 12px;
        color: #ffffff;
        background: #f2994a;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        min-width: 18px;
        min-height: 18px;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        @include max-media-width(767) {
          top: 0;
          right: 4px;
        }
      }
    }
  }
  .profile_icon {
    &:hover {
      opacity: 1 !important;
    }
    .profile_dropdwon {
      position: absolute;
      top: 65px;
      z-index: 10;
      background: #ffffff;
      border: 1.5px solid #f4f4f4;
      box-sizing: border-box;
      width: 245px;
      padding: 16px 20px;
      opacity: 0;
      visibility: hidden;
      @include hover-transition();
      @include min-media-width(992) {
        left: -200px;
      }
      @include max-media-width(991) {
        right: 0;
      }
      &.profile_dropdown_active {
        top: 50px;
        opacity: 1;
        visibility: visible;
      }
      li {
        padding: 12px 0;
        &:not(:last-child) {
          border-bottom: 1px solid #eaeaea;
        }
        &:hover {
          path {
            stroke: #74c247;
          }
          span {
            color: rgba(66, 76, 96, 0.785);
          }
        }
        a,
        button {
          display: flex;
          align-items: center;
        }
      }
      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #424c60;
        margin-left: 12px;
      }
    }
  }

  .mobile_menu_button {
    i {
      font-size: 24px;
    }
  }

  .navbar_fixed_desktop {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 10000;
    padding: 15px 0;
    box-shadow: 0px 1px 7px #e5e5e5;
  }

  .navbar_fixed_mobile {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    padding: 10px 0;
    box-shadow: 0px 1px 7px #9c9c9cd4;
    margin-top: 0;
    background: #f7f7f7;
    .topbar_list,
    .mobile_search_form,
    .mobile_report_list {
      display: none;
    }
  }
}

.header_wrapper_category {
  .hero_menu_area {
    position: absolute;
    top: 65px;
    z-index: 100;
    width: 275px;
    box-shadow: 0px 1px 10px #d8d4d4d6;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    @include hover-transition();
    transform-origin: top;
    @include media-break-width(991,1199){
      top: 90px;
    }
  }
  .hero_main_menu_list {
    li,
    li a {
      &:not(:last-child) {
        &::after {
          left: 0 !important;
          width: 100% !important;
        }
      }
    }
  }
}
.category_active {
  li {
    opacity: 1 !important;
  }
}

.category_link {
  a {
    display: contents !important;
    padding: 0 !important;
  }
}

//Mobile Menu
.mobile_menu_wrapper {
  position: fixed;
  top: 0;
  left: -100%;
  width: 50vw;
  height: 100vh;
  z-index: 999999;
  background: white;
  @include customScrollbar();
  overflow-y: auto;
  padding: 40px 20px 20px 20px;
  @include hover-transition();
  @include max-media-width(575) {
    width: 70vw;
  }
  .mobile_menu_list {
    margin-top: 60px;
  }

  .mobile_menu_close_icon {
    position: absolute;
    right: 20px;
    top: 20px;
    i {
      font-size: 24px;
      color: #424c60;
    }
  }
  li {
    margin-bottom: 8px;
    a,
    button {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #6b7280;
    }
  }
  .nice-select {
    position: absolute;
    top: 12px;
    &::after {
      height: 9px;
      width: 9px;
      margin-top: -6px;
      border-color: #424c60;
      border-width: 1.5px;
      right: 10px;
    }
  }
  .mobile_menus_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-template: 10px;
    width: 100%;
  }
  .mobile_menu_dropdown_list {
    padding-left: 20px;
    margin-top: 10px;
    display: none;
    animation: fadeEffect 1s;
  }
  .mobile_menu_active {
    .mobile_menu_dropdown_list {
      display: block;
    }
  }

  &.mobile_menu_active {
    left: 0;
  }
}
.mobile_menu_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(202, 202, 202, 0.58);
  z-index: 1400;
  display: none;
}

//Mobile Tab Section
.mobile_tab_wrapper {
  display: none;
  @include max-media-width(991) {
    display: block;
  }
  .tablinks2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #424c60;
    padding: 6px 16px;
    background: #e8e9ec;
    border-radius: 15px;
  }
  .tabActiveButton {
    color: #ffffff;
    background: #74c247;
  }
  .mobile_slider_tab_area {
    margin: 20px 0;
  }
  .swiper-slide {
    width: auto;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;
      img {
        width: 56px;
        height: 56px;
      }
      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        color: #424c60;
      }
    }
  }
}
