.map_wrapper {
  .map_area {
    margin-top: 50px;
  }
  .map_button_area {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 16px;

    .map_btn {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #eb5757;
      background: #fff5f5;
      border-radius: 4px;
      padding: 16px 30px;
      @include max-media-width(767){
        padding: 12px 25px;
      }
      &:hover{
        opacity: 0.8;
      }
      span {
        margin-left: 15px;
      }
    }
    .export_btn{
      color: #27AE60;
      background: #F5FFF9;
    }
  }
  .world{
    position: relative;
    margin-top: 40px;
  }

  text {
    tspan {
      font-size: 8px;
    }
  }
  .zoomButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 25px;
    background-color: #ebebeb;
    margin-top: 10px;
    color: #6b7280;
    cursor: pointer;
  }

  .mapael .mapTooltip {
    position: absolute;
    background-color: white;
    opacity: 0.70;
    filter: alpha(opacity=70);
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    max-width: 200px;
    display: none;
    color: #13192B;
    box-shadow: 0px 2px 5px  rgba(220, 220, 220, 0.613);
}
.hover_para{
  font-size: 14px;
}
}

.single_country_wrapper {
  margin-top: 100px;
  @include max-media-width(767) {
    margin-top: 50px;
  }
  .single_country_gird {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: start;
    gap: 30px 150px;
    @include max-media-width(767) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    @include max-media-width(1199) {
      gap: 30px;
    }
  }
  .single_country_content {
    h4 {
      font-weight: 600;
      font-size: 36px;
      line-height: 140%;
      color: #424c60;
      @include media-break-width(768, 1199) {
        font-size: 28px;
        line-height: 125%;
      }
      @include max-media-width(767) {
        font-size: 24px;
        line-height: 120%;
      }
    }
    p {
      color: #6b7280;
      margin-top: 12px;
    }
  }
  .img_map {
    max-height: 450px;
  }
  .sinlge_country_map {
    position: relative;
    .single_contet_wrapper {
      display: flex;
      align-items: start;
      gap: 10px 20px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 70%;

      @include max-media-width(1199) {
        flex-wrap: wrap;
      }
    }
    .map_location_icon {
      width: 70px;
      max-width: 70px;
    }
    .single_map_content {
      width: 300px;
      max-width: 100%;
      padding: 10px 24px;
      background: #ffffff;
      box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #27ae60;
      }
      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        color: #5b5b5b;
      }
    }
  }
}

.import_country_map_wrapper {
  padding: 70px 0;
  margin-top: 50px;
  background: #f7f7f7;
  .map_area {
    margin-top: 20px;
  }
  #importCountryMap,
  #exportCountryMap {
    width: 100%;
    height: 500px;
    @include max-media-width(575) {
      height: 300px;
    }
  }
}

.trade_progress_wrapper {
  .trend_progress_grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    align-items: start;
    gap: 30px 50px;
    margin-top: 50px;
    @include max-media-width(991) {
      grid-template-columns: minmax(0, 1fr);
    }
  }
  .trend_progress_item {
    padding: 35px;
    background: #f7f7f7;
    border-radius: 32px;
    overflow: hidden;
    @include max-media-width(767) {
      padding: 20px;
    }
    h3 {
      position: relative;
      font-weight: 600;
      font-size: 28px;
      line-height: 42px;
      color: #424c60;
      padding-bottom: 12px;
      @include max-media-width(767) {
        font-size: 22px;
      }
      &::before {
        content: " ";
        position: absolute;
        left: -30px;
        bottom: 0;
        width: calc(100% + 60px);
        height: 1px;
        background-color: #e8e9ec;
      }
    }
  }
  .progress_bar_item {
    h4 {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: right;
      color: #6b7280;
      @include max-media-width(767) {
        text-align: start;
      }
    }
    .progress_bar_line {
      position: relative;
      width: 100%;
      height: 30px;
      background: #e8e9ec;
    }
    .progress_top_line {
      position: absolute;
      top: 0;
      left: 0;
      height: 30px;
      background: #74c247;
    }
  }
  .progress_bar_item,
  .progress_bar_number_item {
    display: grid;
    grid-template-columns: minmax(0, 100px) minmax(0, 1fr);
    align-items: start;
    gap: 2px 24px;
    margin-top: 24px;
    @include max-media-width(767) {
      grid-template-columns: minmax(0, 1fr);
      margin-top: 15px;
    }
  }
  .progress_bar_number_item {
    margin-top: 15px;
    .number_list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #6b7280;
      }
    }
  }
}

.import_status_wrapper {
  .import_status_grid {
    display: grid;
    grid-template-columns:
      minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
      minmax(0, 1fr);
    align-items: start;
    gap: 20px;
    margin-top: 50px;
    @include media-break-width(992, 1199) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(
          0,
          1fr
        );
    }
    @include media-break-width(767, 991) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
    @include media-break-width(576, 767) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
    @include max-media-width(575) {
      grid-template-columns: minmax(0, 1fr);
    }
  }
  .import_status_item {
    padding: 20px 16px;
    background: #ffffff;
    border: 1.5px solid #ececec;
    border-radius: 15px;
    @include hover-transition();
    &:hover {
      box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.07);
    }
    h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 160%;
      color: #424c60;
      min-height: 57px;
    }
    img {
      display: inline-block;
      max-width: 104px;
      max-height: 104px;
      margin: 16px auto 16px auto;
      text-align: center;
    }
    h4 {
      font-weight: 600;
      font-size: 24px;
      line-height: 160%;
      color: var(--import-color);
    }
  }
}

.country_import_wrapper {
  .country_import_grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(
        0,
        1fr
      );
    align-items: start;
    gap: 30px;
    margin-top: 50px;
    @include media-break-width(992, 1199) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(
          0,
          1fr
        );
    }
    @include media-break-width(767, 991) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
    @include media-break-width(576, 767) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
    @include max-media-width(575) {
      grid-template-columns: minmax(0, 1fr);
    }
  }
  .country_import_item {
    padding: 20px 20px 20px 30px;
    background: #ffffff;
    border: 1.5px solid #ececec;
    border-radius: 15px;
    li {
      list-style: decimal;
      .list_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
      }
      h4,
      h5 {
        font-size: 18px;
        font-weight: 600;
        line-height: 50px;
        color: #424c60;
      }
      h5 {
        color: #27ae60;
      }
    }
  }
}

.country_export_wrapper {
  .country_import_item {
    h5 {
      color: #eb5757 !important;
    }
  }
}
