.error_wrapper {
  margin: 100px 0;

  .error_grid {
    display: grid;
    grid-template-columns: minmax(0, 450px) minmax(0, 1fr);
    align-items: center;
    gap: 30px;
    @include max-media-width(991) {
      grid-template-columns: minmax(0, 1fr);
    }
  }
  .error_content {
    h3 {
      font-weight: 600;
      font-size: 36px;
      line-height: 160%;
      color: #13192b;
      @include max-media-width(991) {
        font-size: 28px;
      }
    }
    p {
      margin-top: 10px;
      margin-bottom: 50px;
      color: #6b7280;
      @include max-media-width(991) {
        margin-bottom: 30px;
      }
    }
  }
  .error_svg {
    @include max-media-width(991) {
      grid-row: 1;
    }
    svg {
      max-height: 550px;
      @include max-media-width(991) {
        height: 350px;
      }
    }
    #number4,
    #number42,
    #number0,
    #number00,
    #number41,
    #number412 {
      animation: rotatesvg 1s ease-in-out infinite alternate;
      -webkit-animation: rotatesvg 1s ease-in-out infinite alternate;
    }
    #number42,
    #number00,
    #number412 {
      fill: #f2c94c;
      animation: bgColorUpDown 4s ease-in-out infinite alternate;
      -webkit-animation: bgColorUpDown 4s ease-in-out infinite alternate;
    }
  }
  #leftHand {
    animation: leftHandAnimate 1s ease-in infinite alternate;
    -webkit-animation: leftHandAnimate 1s ease-in infinite alternate;
    transform-origin: left;
    transform-box: fill-box;
  }
  #monitor {
    animation: borderAnimate 3s linear infinite;
    -webkit-animation: borderAnimate 3s linear infinite;
    stroke: #fe7668;
    stroke-width: 2;
    stroke-dasharray: 10px;
  }
}

@keyframes bgColorUpDown {
  0% {
    fill: #fe7668;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  50% {
    fill: #fe7668;
    filter: hue-rotate(180deg);
    -webkit-filter: hue-rotate(180deg);
  }
  100% {
    fill: #fe7668;
    filter: hue-rotate(360deg);
    -webkit-filter: hue-rotate(360deg);
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
  }
}

@keyframes rotatesvg {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }

  100% {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
  }
}
@keyframes leftHandAnimate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  100% {
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
  }
}
@keyframes borderAnimate {
  0% {
    stroke-dashoffset: 10px;
  }
  100% {
    stroke-dashoffset: 100px;
  }
}

// Help Page
.help_center_wrapper {
  .help_card_item_gird_area {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: start;
    gap: 35px;
    @include media-break-width(576, 991) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include max-media-width(991) {
      gap: 25px;
    }
    @include max-media-width(575) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .help_item_grid {
      @include media-break-width(576, 767) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
      @include max-media-width(767) {
        grid-template-columns: minmax(0, 50px) minmax(0, 1fr);
      }
    }
    .help_icon {
      @include max-media-width(767) {
        width: 50px !important;
        height: 50px !important;
      }
    }
  }
  .help_item {
    padding: 20px 18px;
    background: #ffffff;
    border: 2px solid #f7f7f7;
    border-radius: 8px;
    h4 a {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #74c247;
      @include media-break-width(768, 991) {
        font-size: 18px;
        line-height: 20px;
      }
      @include max-media-width(767) {
        font-size: 16px;
        line-height: 20px;
      }
      &:hover {
        color: rgba(116, 194, 71, 0.828);
      }
    }
    p {
      margin-top: 5px;
    }
  }
  .help_item_grid {
    display: grid;
    grid-template-columns: minmax(0, 70px) minmax(0, 1fr);
    align-items: start;
    gap: 20px;
    .help_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background-color: rgb(255, 241, 233);
    }
    p {
      font-size: 14px;
    }
  }

  .browser_all_btn {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    line-height: 142.9%;
    color: #74c247;
    margin-top: 50px;
    text-align: center;
    @include media-break-width(768, 991) {
      font-size: 18px;
      line-height: 20px;
    }
    @include max-media-width(767) {
      font-size: 16px;
      line-height: 20px;
    }
    &:hover {
      color: rgba(116, 194, 71, 0.88);
      svg {
        path {
          stroke: #fe7668;
        }
      }
    }
    span {
      margin-left: 15px;
    }
  }

  .recent_text_area {
    margin-top: 60px;
    margin-bottom: 100px;
    @include min-media-width(992) {
      display: grid;
      grid-template-columns: minmax(0, calc(100% - 300px));
      align-items: start;
    }
    h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 160%;
      color: #13192b;
      margin-bottom: 40px;
      @include media-break-width(768, 991) {
        font-size: 18px;
        line-height: 20px;
      }
      @include max-media-width(767) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .help_item {
      border: none;
      padding: 0;
      margin-bottom: 40px;
      .help_icon {
        align-items: start;
        background-color: transparent;
      }
    }
  }
}

//Sell Page
.sell_wrapper {
  .sell_grid_area {
    position: relative;
    @include min-media-width(768) {
      &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background-color: #d7d9ea;
      }
    }
  }
  .sell_item_grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: start;
    gap: 30px 80px;

    @include max-media-width(991) {
      gap: 30px 30px;
    }

    @include max-media-width(767) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 0;
    }
    @include min-media-width(768) {
      margin-top: 70px;
      padding-bottom: 30px;
      &:not(:last-child) {
        border-bottom: 1px solid #d7d9ea;
      }
    }
  }
  .sell_item_inner_grid {
    display: grid;
    grid-template-columns: minmax(0, 145px) minmax(0, 1fr);
    align-items: start;
    gap: 20px;
    @include media-break-width(768, 991) {
      grid-template-columns: minmax(0, 1fr);
    }
    @include max-media-width(767) {
      grid-template-columns: minmax(0, 70px) minmax(0, 1fr);
    }
  }
  .sell_last_item_inner_grid {
    grid-template-columns: minmax(0, 1fr);
    text-align: center;
  }
  .sell_item {
    @include max-media-width(767) {
      padding-bottom: 30px;
      margin-top: 30px;
      border-bottom: 1px solid #d7d9ea;
    }
    h4 {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #74c247;
      @include media-break-width(768, 991) {
        font-size: 18px;
        line-height: 26px;
      }
      @include max-media-width(767) {
        font-size: 16px;
        line-height: 24px;
      }
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #424c60;
      margin-top: 10px;
    }
  }
}

//Become Sellar Page
.become_sellar_wrapper {
  .demo_video_btn {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #eb5e10;
    border: 2px solid #eb5e10;
    border-radius: 5px;
    padding: 15px 35px;
    &:hover {
      background-color: rgba(148, 148, 148, 0.156);
    }
    @include max-media-width(767) {
      padding: 10px 15px;
      font-size: 14px;
    }
  }
  .become_sellar_form_area {
    padding: 30px;
    background: #f7f7f7;
    border-radius: 15px;
    @include max-media-width(767) {
      padding: 30px 20px;
    }
    h4 {
      font-weight: 600;
      font-size: 24px;
      line-height: 160%;
      color: #424c60;
      @include media-break-width(768, 991) {
        font-size: 22px;
      }
      @include max-media-width(767) {
        font-size: 18px;
      }
    }

    .modal_form_item_grid {
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      gap: 0px 30px;
      @include max-media-width(767) {
        grid-template-columns: minmax(0, 1fr);
      }
    }
  }

  .multistep_form_area {
    .input_row {
      label {
        color: #424c60;
      }
      input,
      .niceSelect {
        background: #f7f7f7;
        border: 1.5px solid #e8e9ec;
      }
    }
    .info_img_area {
      position: absolute;
      padding-left: 15px;
    }
    .become_btn {
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      color: #ffffff;
      height: 56px;
      width: 100%;
      background: #8bc967;
      border-radius: 5px;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}

//Redeem Page
.redeem_wrapper {
  .redeem_item_number_area {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 0.7fr);
    align-items: start;
    gap: 20px 70px;
    padding: 70px;
    border-radius: 15px;
    @include media-break-width(768, 991) {
      gap: 20px 30px;
    }
    @include max-media-width(767) {
      grid-template-columns: minmax(0, 1fr);
      padding: 20px;
    }
    @include Background-image( );
    h6 {
      font-weight: 500;
      font-size: 24px;
      line-height: 160%;
      color: #ffffff;
      @include media-break-width(768, 991) {
        font-size: 22px;
      }
      @include max-media-width(767) {
        font-size: 18px;
      }
    }
    h4 {
      font-weight: 700;
      font-size: 40px;
      line-height: 160%;
      color: #ffffff;
      @include media-break-width(768, 991) {
        font-size: 32px;
      }
      @include max-media-width(767) {
        font-size: 26px;
      }
    }
    h3 {
      font-weight: 600;
      font-size: 36px;
      line-height: 160%;
      color: #ffffff;
      @include media-break-width(768, 991) {
        font-size: 30px;
      }
      @include max-media-width(767) {
        font-size: 24px;
      }
    }
    h2 {
      font-weight: 700;
      font-size: 60px;
      line-height: 160%;
      color: #ffffff;
      @include media-break-width(768, 991) {
        font-size: 45px;
      }
      @include max-media-width(767) {
        font-size: 30px;
      }
    }
  }
  .redeem_title_area {
    margin-top: 50px;
    h3 {
      font-weight: 600;
      font-size: 28px;
      line-height: 150%;
      color: #424c60;
      @include media-break-width(768, 991) {
        font-size: 22px;
      }
      @include max-media-width(767) {
        font-size: 18px;
      }
    }
    .sell_all_redeem {
      font-weight: 500;
      font-size: 22px;
      line-height: 160%;
      color: #6b7280;
      &:hover {
        opacity: 0.9;
      }
      @include media-break-width(768, 991) {
        font-size: 18px;
      }
      @include max-media-width(767) {
        font-size: 16px;
      }
    }
  }
  .redeems_grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: start;
    gap: 35px 30px;
    margin-top: 24px;
    @include media-break-width(768, 991) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 35px 25px;
    }
    @include max-media-width(767) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 30px 20px;
    }
    .redeems_img{

      max-height: 360px;
      img{
        border-radius: 10px;
      }
    }
    .redeems_content {
      margin-top: 10px;
      h4 {
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        color: #424c60;
        @include max-media-width(767) {
          font-size: 12px;
        }
      }
      h5 {
        font-weight: 700;
        font-size: 18px;
        line-height: 160%;
        color: #13192b;
        margin-top: 4px;
        @include max-media-width(767) {
          font-size: 16px;
          line-height: 140%;
        }
        del {
          position: relative;
          top: 5px;
          font-weight: 500;
          font-size: 14px;
          line-height: 160%;
          color: #6b7280;
          margin-left: 8px;
          @include max-media-width(767) {
            font-size: 13px;
          }
        }
      }
      .redeems_btn{

        font-weight: 500;
font-size: 12px;
line-height: 160%;
color: #FFFFFF;
padding: 7px 15px;
background: #74C247;
border-radius: 15px;
margin-top: 12px;
&:hover{
  opacity: 0.9;
}
      }
    }
  }
}
